%{deps, [
%    {
%        edown, 
%        "0.3.*",
%        {git, "git://github.com/esl/edown.git", {branch, "master"}}
%    }
%]}.

{edoc_opts, [
    %{doclet, edown_doclet}, {dir, "doc/md"},
    {dir, "doc/html"},
    %{doc_path, ["http://www.erlang.org/doc/man"]},
    {dialyzer_specs, all},
    {report_missing_type, true},
    {report_type_mismatch, true},
    {pretty_print, erl_pp},
    {preprocess, true}
]}.

{erl_opts, [
    debug_info
]}.

{port_sources, ["c_src/*.c", "c_src/yajl/*.c"]}.
{so_name, "json.so"}.

{port_envs, [
    %% Make sure to link -lstdc++ on linux or solaris
    {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"}
]}.
